.copyright
    - var hexoURL = "https://hexo.io/";
    - var spaceURL = "https://github.com/liivk/hexo-theme-space";
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
    p
        if theme.busuanzi
            span.copyright-busuanzi#busuanzi_container_site_pv PV: #[span#busuanzi_value_site_pv]
        span.copyright-desction.
            © #{year} #[a(href=config.url)!= config.author], Power by #[a(href=hexoURL, target="_blank") Hexo] | #[a(href=spaceURL, target="_blank") Space]
