//- LaTex
script(async src="//cdn.bootcss.com/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML" integrity="sha384-crwIf/BuaWM9rM65iM+dWFldgQ1Un8jWZMuh3puxb8TOY9+linwLoI7ZHZT+aekW" crossorigin="anonymous")

//- 访问量统计
if theme.busuanzi
    script(async src=url_for("lib/busuanzi.pure.mini.js"))

//- 访问量统计
if theme.search
    script(src=url_for("lib/zepto.min.js"))
    script(defer src=url_for("js/space.js"))